body {
    background-image: url(Desk.jpg);
}

header {
    color: Purple;
    font-size: 50px;
    text-align: center;
    font-family: comic sans-serif;
}
    
.row {
    text-align: center;
}

.hideBtn {
    display: none;
} 

#scoreList {
    color: red;
    font-size: 20px;
    text-align: center;
}

.message {
    color: blue;
    font-size: 30px;
    text-align: center;
}

.countdown {
    color: black;
    padding-left: 10px;
    font-size: 30px;
}